.parallax {
	color: red;
	background-image: url('https://www.w3schools.com/howto/img_parallax.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vmin;
}

.paragraph {
	height: 150px;
	font-size: 36px;
	background-color: transparent;
}

.image {
	background-image: url('https://www.w3schools.com/css//img_5terre.jpg');
	background-position: center;
	background-size: cover;
	min-height: 100vmin;
	background-attachment: fixed;
}

.mask {
	-webkit-mask-image: url('../../images/SvgImage.svg');
  mask-image: url('https://mdn.github.io/css-examples/masking/star.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.backgroundMask {
	background-image: url('https://www.w3schools.com/css//img_5terre.jpg');
	background-position: center;
	background-size: cover;
	min-height: 70vmin;
	min-width: 70vmin;
}


